<div class="container">
  <div class="math-row">
    <div class="first-number">{{ firstNumber }}</div>
    <div class="plus">+</div>
    <div class="second-number">{{ secondNumber }}</div>
    <div class="equals">=</div>
    <div class="solution"></div>
  </div>
  <div class="number-line-row">
    <div
      *ngFor="let cell of cells"
      class="cell"
      [class.filled-color-one]="cell.value === 'COLOR_ONE'"
      [class.filled-color-two]="cell.value === 'COLOR_TWO'"
      (click)="toggleCell(cell.id)"
    ></div>
  </div>
  <div class="color-row">
    <div
      (click)="switchColor()"
      [class.active]="currentColor === 'COLOR_ONE'"
      class="color-one"
    ></div>
    <div
      (click)="switchColor()"
      [class.active]="currentColor === 'COLOR_TWO'"
      class="color-two"
    ></div>
  </div>
  <div class="reset-row">
    <button (click)="reset()">Reset</button>
  </div>
</div>
