/* You can add global styles to this file, and also import other style files */
$background-color: #fef6e4;
$first-number-color: #001858;
$second-number-color: #f582ae;
$text-color: #626262;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
}
